.gallery{
    display:grid;
    grid-template-columns:repeat(4,1fr);
}
.card{
    height:100px;
    transition:0.3s;
}
.card:hover{
    transform:scale(1.05);
}
/* tablet */
@media(max-width:900px){
    .gallery{
        grid-template-columns:repeat(2,1fr);
    }
}
/* mobile */
@media(max-width:600px){
    .gallery{
        grid-template-columns:1fr;
    }
}