body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.linear {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, blue, cyan);
}

.radial {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, yellow, orange);
    background-attachment: fixed;
}

section h1 {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}